<ng-container *ngIf="this.AllCvList && this.AllCvList?.listaCV?.length === 0">
    <div class="container-fluid sfondo min-vh-100">

        <p-toast key="toastGetAllCv" />

        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="bg-white border border-2 rounded-5 p-5 mt-5">
                    <p class="fw-bold fs-5 m-0">Nessun curriculum presente per questo utente. Creane uno nuovo.</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="this.AllCvList && this.AllCvList?.listaCV?.length > 0">
    <div class="container-fluid sfondo min-vh-100">
        <div class="row h-100 justify-content-center align-items-center">

            <ng-container *ngFor="let cv of this.AllCvList.listaCV">
                <div class="col-12 col-md-6 col-lg-4 mb-1">
                    <div class="bg-white border border-2 rounded-5 py-5 px-4 mt-2 pb-4">
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <div class="rounded-4 border border-2 border-black">
                                    <i class="pi pi-file-word p-1" style="font-size: 2rem"></i>
                                </div>

                            </div>
                            <div>
                                <h5 class="fw-bold">{{ cv.titolo }}</h5>
                                <p class="mb-1"><strong>Esperienze:</strong> {{ cv.esperienze_Precedenti }}</p>
                                <p class="mb-1"><strong>Competenze:</strong> {{ cv.competenze }}</p>
                                <p class="mb-1"><strong>Istruzione:</strong> {{ cv.istruzione }}</p>
                                <p class="mb-1"><strong>Lingue:</strong> {{ cv.lingueConosciute }}</p>
                                <div class="d-flex gap-1 my-3">
                                    <button (click)="this.scaricaPdf(cv)" class="btn btn-primary">
                                        <i class="pi pi-download" style="font-size: 1rem"></i>
                                    </button>
                                    <button (click)="this.goToModificaCv(cv.id_cv)" class="btn btn-primary">
                                        <i class="pi pi-file-edit" style="font-size: 1rem"></i>
                                    </button>
                                    <button (click)="this.showModal()" class="btn btn-danger">
                                        <i class="pi pi-trash" style="font-size: 1rem"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </ng-container>

            <!-- modale utilizzato per la conferma cancellazione del cv  -->

            <app-modal-generic [visible]="this.mostraModale">
                <app-conferma-cancella-cv (nascondi)="prendiValoreNascondi($event)"></app-conferma-cancella-cv>
            </app-modal-generic>

        </div>
    </div>
</ng-container>