<h3>Carica nuova immagine del profilo</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="img_profilo" class="form-label">Carica Immagine profilo</label>
        <input type="file" class="form-control" id="img_profilo" name="img_profilo" formControlName="file">
    </div>
    <div class="d-flex gap-1">
        <button [disabled]="!this.formIsValid" class="btn btn-primary" type="submit">Carica</button>
        <button class="btn btn-danger" (click)="this.emitClose()" type="button">chiudi</button>
    </div>
</form>