<div class="container-fluid sfondo min-vh-100">

    <p-toast key="toastCreaCv" />

    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-11 col-md-8 col-lg-6">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" border-black p-5 rounded-5 shadow mb-4 mt-4">
                <div>
                    <h2>Crea il tuo Curriculum</h2>
                </div>

                <div class="form-group my-3">
                    <label for="titolo">Inserisci Titolo curriculum</label>
                    <input type="text" class="form-control" id="titolo" aria-describedby="titolo" name="titolo"
                        placeholder="Inserisci titolo" formControlName="titolo">

                    <p class="text-danger" *ngIf="this.form.controls.titolo.touched &&
                         this.form.controls.titolo.hasError('required')">
                        titolo obbligatorio.
                    </p>
                </div>
                <div class="form-group my-3">
                    <label for="competenze">Inserisci competenze</label>
                    <input type="text" class="form-control" id="competenze" aria-describedby="competenze"
                        name="competenze" placeholder="Inserisci competenze" formControlName="competenze">
                    <p class="text-danger" *ngIf="this.form.controls.competenze.touched &&
                        this.form.controls.competenze.hasError('required')">
                        competenze obbligatorie.
                    </p>
                </div>
                <div class="form-group my-3">
                    <label for="istruzione">Inserisci livello di isruzione istruzione</label>
                    <input type="text" class="form-control" id="istruzione" aria-describedby="istruzione"
                        name="istruzione" placeholder="Inserisci il tuo livello di istruzione"
                        formControlName="istruzione">
                    <p class="text-danger" *ngIf="this.form.controls.istruzione.touched &&
                        this.form.controls.istruzione.hasError('required')">
                        Inserisci una breve descrizione riguardo il tuo livello di istruzione.
                    </p>

                </div>
                <div class="form-group my-3">
                    <label for="esperienzePrecedenti">esperienze lavorative precedenti</label>
                    <input type="text" class="form-control" id="esperienzePrecedenti"
                        placeholder="Inserisci le tue esperienze lavorative Precedenti" name="esperienzePrecedenti"
                        formControlName="esperienzePrecedenti">
                    <p class="text-danger" *ngIf="this.form.controls.esperienzePrecedenti.touched &&
                        this.form.controls.esperienzePrecedenti.hasError('required')">
                        Esperienze lavorative obbligatorie.
                    </p>

                </div>
                <div class="form-group my-3">
                    <label for="lingueConosciute">Lingue conosciute</label>
                    <!-- <input type="text" class="form-control" id="lingueConosciute"
                        placeholder="Inserisci le lingue che conosci" name="lingueConosciute"
                        formControlName="lingueConosciute"> -->
                    <!-- <select name="lingueConosciute" id="lingueConosciute">
                        <option value="inglese">Inglese</option>
                        <option value="francese">Francese</option>
                        <option value="spagnolo">Spagnolo</option>
                        <option value="tedesco">Tedesco</option>
                        <option value="italiano">Italiano</option>

                    </select> -->
                    <select multiple (change)="this.onLinguaChange($event)" name="lingueConosciute"
                        id="lingueConosciute" class="form-select" aria-label="Default select example">
                        <option selected>Seleziona una lingua</option>
                        <option value="inglese">Inglese</option>
                        <option value="francese">Francese</option>
                        <option value="spagnolo">Spagnolo</option>
                        <option value="tedesco">Tedesco</option>
                        <option value="italiano">Italiano</option>
                        <option value="altro">Altro</option>
                    </select>

                    <!-- <p class="text-danger" *ngIf="this.form.controls.lingueConosciute.touched && 
                    this.form.controls.lingueConosciute.hasError('required')">
                        obbligatorio inserire almeno una lingua.
                    </p> -->
                    <div class="d-flex justify-content-center flex-column">
                        <ng-container *ngFor="let lingua of this.lingueSelezionate">
                            <p class="m-0 p-1"> * {{lingua}}
                                <i (click)="this.deleteLanguage(lingua)" class="pi pi-delete-left pointer text-danger"
                                    style="font-size: 1rem"></i>

                            </p>
                        </ng-container>
                    </div>

                </div>


                <div class="form-group my-3">
                    <label for="telefono">Inserisci una tua descrizione generale</label>
                    <input type="text" class="form-control" id="descrizioneGenerale"
                        placeholder="Inserisci una tua descrizione generale" name="descrizioneGenerale"
                        formControlName="descrizioneGenerale">
                    <p class="text-danger" *ngIf="this.form.controls.descrizioneGenerale.touched && 
                    this.form.controls.descrizioneGenerale.hasError('required')">
                        Descrizione Obbligatoria.
                    </p>

                </div>

                <button type="submit" class="btn btn-primary">Crea curriculum</button>
            </form>
        </div>
    </div>
</div>