<div class="card flex justify-content-center">
    <p-sidebar [closeOnEscape]="true" [(visible)]="sidebarVisible">
        <h3>Features disponibili</h3>

        <button (click)="goToCreaCv()" class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Crea Curriculum</button>
        <button (click)="this.goToGetAllCv()" class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Vai ai tuoi Curriculum</button>
        <button (click)="this.gotoRicercaCompetenza()" class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Ricerca cv per competenze</button>
        <button (click)="this.goToricercaEsperienza()" class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Ricerca cv per Esperienza</button>
        <button class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Ricerca cv per nome candidato</button>
        <button class="btn btn-transparent scale">
            <i class="pi pi-angle-right" style="color: #708090"></i>
            Vai al profilo</button>
    </p-sidebar>

</div>